*
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
}
.left-side
{
    display: none;
}
.right-side
{
    display: none;
}
.section1
{
    width: 100%;
    height: 30vh;
}
.main-sidebar
{
    display: none;
}
.mobile-home-img
{
    width: 100%;
}
.card-back
{
    position: absolute;
    top: 55px;
    right: 20px;
    width: 250px;
}
.card-front
{
    position: absolute;
    top: 140px;
    left: 20px;
    width: 250px;
    z-index: 10;
}
.section2
{
    width: 100%;
    height: 70vh;
    display: flex;
    align-content: center;
    padding-top: 150px;
    justify-content: center;
}
.bottom-half
{
    margin: 0;
    width: 80%;
}
.rows
{
    width: 90%;
    margin-top: 10px;
}
.row
{
    width: 100%;
    margin-top: 10px;
}
.sub-row
{
    flex: 0 0 50%;
    max-width: 50%;
}
.sub-rows
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 10px;
}
.bottom-half .rows
{
    width: 95%;
    display: flex;
}
.title
{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.titles
{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
}

.fox
{
    width: 98%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(170, 167, 167);
    padding: 5px 5px;
    margin-top: 5px;
    outline: none;
}
.foxes
{
    width: 33.33%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(170, 167, 167);
    padding: 5px 5px;
    margin-top: 5px;       
    outline: none;
}
.foxed:focus
{
    border: 2px solid burlywood;
}
.foxes:focus
{
    border: 2px solid burlywood;
}
.fox:focus
{
    border: 2px solid burlywood;
}
.foxed
{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(170, 167, 167);
    padding: 5px 0 5px 5px;
    margin-top: 5px;       
    outline: none;
}
.button
{
    width: 100%;
}
.btn
{
    color: white;
    margin-top: 30px;
    width: 100%;
    background-color: hsl(278.46deg 68.42% 11.18%);
    height: 45px;
    padding: 5px 0;
    border-radius: 10px;
    border: 1px solid burlywood;
}
@media (min-width:374px)
{
    .foxes
{
    width: 40%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(170, 167, 167);
    padding: 5px 5px;
    margin-top: 5px;       outline: none;
}
.foxed
{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(170, 167, 167);
    padding: 5px 5px 5px 5px;
    margin-top: 5px;       outline: none;
}
}
@media (min-width:424px)
{
    .card-front
    {
        position: absolute;
        top: 160px;
        left: 20px;
        width: 300px;
        z-index: 10;
    }
    .card-back
    {
        position: absolute;
        top: 55px;
        right: 20px;
        width: 300px;
    }
}
@media (min-width:767px)
{
    body
    {
        display: flex;
        margin: 0;
        padding: 0;
    }
   
    .section1
    {
        width: 30%;
        height: 100vh;
        display: flex;
    }
    .left-side
    {
        width: 100%;
        height: 100vh;
        background: pink;
        color: black;
        display: flex;
    }
    .leftimg
    {
        width: 100%;
        height: 700px;
    }
    .cardf
    {
        position: absolute;
        width: 300px;
        margin-top: 100px;
        margin-left: 50px;
    }
    .cardb
    {
        position: absolute;
        width: 300px;
        margin-top: 315px;
        margin-left: 130px;
    }
    .section2
    {
        width: 70%;
        height: 100vh;
        padding: 0;
    }
    .right-side
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    .containers
    {
        width: 40%;
        margin-left: 150px;
        margin-top: -50px;
    }
    .rows
    {
        width: 100%;
        
    }
    .row
    {
        width: 100%;
       
    }
    .right-side .rows
    {
        width: 95%;
        display: flex;
    }
    .title
    {
        
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 1px;
        font-family: sans-serif;
    }
    .titles
    {
      
        font-size: 9px;
        font-weight: 400;
        font-family: sans-serif;
    }
    
    .fox
    {
        width: 98%;
        height: 15px;
        border-radius: 5px;
        border: 1px solid rgb(170, 167, 167);
        outline: none;
  
    }
    .foxes
    {
        width: 33.33%;
        height: 15px;
        border-radius: 5px;
        border: 1px solid rgb(170, 167, 167);
        outline: none;
       
    }
    .foxed
    {
        width: 100%;
        height: 15px;
        border-radius: 5px;
        border: 1px solid rgb(170, 167, 167);
        outline: none;
        
    }
    .button
    {
        width: 100%;
    }
    .btn
    {
        color: white;
       background-color: hsl(278.46deg 68.42% 11.18%);
       width: 100%;
         height: 35px;
        padding: 5px 0;
        border-radius: 5px;
        border: 1px solid purple;
    }
    .tophalf
    {
        display: none;
    }
    .bottom-half
    {
        display: none;
    }
}

@media(min-width:1023px)
{
    .cardf
    {
        position: absolute;
        width: 270px;
        margin-top: 55px;
        margin-left: 180px;
    }
    .cardb
    {
        position: absolute;
        width: 270px;
        margin-top: 270px;
        margin-left: 260px;
    }
}
@media(min-width:1439px)
{
    .cardf
    {
        position: absolute;
        width: 300px;
        margin-top: 100px;
        margin-left: 170px;
    }
    .cardb
    {
        position: absolute;
        width: 300px;
        margin-top: 315px;
        margin-left: 250px;
    }
}
